@{
    ViewBag.Title = "Home Page";
}
<link href="~/Style/index.css" rel="stylesheet" />

<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>

<br />

<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
<div class="strain"></div>
